{% extends 'customer/base.html' %}
    
{% block content %}

    <div class="container emp-profile mt-3">
        <div >
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {% if request.user.customer.profile %}
                          <img src="{{ request.user.customer.profile.url }}" alt=""/>
              
                        {% else %}
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
              
                        {% endif %}
                                  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                    {{ request.user.username}}
                                </h5>
                                <h6>
                                    {{request.user.email}}
                                </h6>
                                <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Order</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
                    <a href="{% url 'restaurant:dashboard-restaurant'%}">
                        <button type="button" class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round">Restaurant Dashboard
                        </button>
                    </a>
                    <div style="height: 5px;"></div>
                    <a href="{% url 'restaurant:dashboard-restaurant'%}">
                        <button type="button" class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round">Driver Dashboard
                        </button>
                    </a class="m-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">

                        <!-- <a href="" href="{% url 'customer:customer-orders' %}" class="btn btn-primary  w-75 p-3 text-light ">My Orders</a><br/> -->
                        <a  href="{% url 'customer:customer-orders' %}" class="btn btn-primary  w-75 p-3 text-light ">My Orders</a><br/>
                        <a href="{% url 'registration-restaurant' %}" class="btn btn-primary w-75 p-3 text-light">Register Restaurant</a><br/>
                        <a href="" class="btn btn-primary w-75 p-3 text-light">Register Driver</a><br/>
                        <a href="" class="btn btn-danger w-75 p-3 text-light">Logout</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ request.user.first_name}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ request.user.last_name}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.username}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.customer.address}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.customer.phone}}</p>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Hourly Rate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>10$/hr</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Total Projects</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 months</p>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
    </div>
{% endblock content%}